footer {
    margin: 0 0 40px 0;
    margin-top: 60px;
}

.adress,
.phone {
    padding: 10px 20px 10px 20px;
    border-top: 1px solid black;
    width: 960px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        color: black;
    }
    p, p>a {
        color: black;
    }
}

@media (max-width: 680px){
    footer {
        margin: 0 auto 40px auto;
        margin-top: 10px;
    }

    .adress,
    .phone {
    padding: 10px 20px 0px 20px;
    border-top: 1px solid black;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        color: black;
    }
    p, p>a {
        color: black;
    }
}
}