.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translate(0);
    transition: 1.1s cubic-bezier(.5, 0, 0, 1);
}

.hide {
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
